table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid rgb(235, 235, 235);
    text-align: left;
    padding: 8px;
}

.content {
    padding: 30px;
}

header button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

.tableContent {
    overflow: auto;
}

@media screen and (max-width: 991px) {
    table {
        width: 991px;
    }
}