table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid rgb(255, 247, 225);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(255, 247, 225);
}

.content {
    padding: 30px;
}

header button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(255, 195, 29);
    /* border-radius: 5px; */
}