<div class="container">
    <div class="content">
        <header>
            <button (click)="gotoDashboard()">Back to Dashboard</button>
        </header>

        <div class="arrow" (click)="gotoTop()">
            <img src="./../../../assets/chevron-upwards-arrow.png" alt="chevron-upwards-arrow" width="40px">
        </div>

        <app-filter [ramList]="ramList" [ramTypeList]="ramTypeList" [hddList]="hddList" [locationList]="locationList"
            [driveList]="driveList" (emitEventObject)="applyAllFilters($event)">

        </app-filter>
        <div class="tableContent">
            <table>
                <tr>
                    <th>Model</th>
                    <th>RAM</th>
                    <th>RAM Type</th>
                    <th>HDD</th>
                    <th>Drive</th>
                    <th>Location</th>
                    <th>Price</th>
                </tr>
                <tr *ngFor="let value of dataSource">
                    <td>{{value.Model}}</td>
                    <td>{{value.RAM}}</td>
                    <td>{{value.RamType}}</td>
                    <td>{{value.HDD}}</td>
                    <td>{{value.Drive}}</td>
                    <td>{{value.Location}}</td>
                    <td>${{value.Price}}</td>
                </tr>
            </table>
        </div>



    </div>
</div>