<div class="container">
    <div class="content">
        <header>
            <button (click)="gotoList()">Go to List</button>
        </header>

        <!-- <h1>Welcome to the Dashboard</h1> -->

        <div class="lesson">
            <h1>Flow of the task</h1>
            <img src="../../../assets/filter.png" alt="filter" width="100%">
            <!-- <h2>What did we learn from this practical task?</h2>
            
            <div class="section1">
                <p>First, Parent Child Communication between Filter and List Component</p>
                
            </div>
            <div class="section2">
                <p>Second, Lazy Loading of List Module</p>
                <strong>To Lazy Load a Module we have two requirements: </strong>
                <ul>
                    <li>All the routes in the module to lazy load should have same route prefix</li>
                    <li>The module should not be referenced in any other module</li>
                </ul>
                <img src="../../../assets/lazyload.png" alt="lazyload">
            </div> -->

        </div>
    </div>
</div>