.content {
    padding: 30px;
    background-color: white;
}

button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

.lesson {
    margin-top: 30px;
}

.filter {
    margin-top: 10px;
    overflow: auto;
}