.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px;
    background-color: white;
    border: 1px solid black;

}

.content select {
    appearance: none;
    padding: 10px 30px 10px 10px;
    background-image: url('../../../../assets/downward-arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 6px) center;
    background-size: 15px;
    border: 1px solid black;
    outline: none;
    background-color: white;
}

@media screen and (max-width: 500px) {
    .content {
        display: block;
        padding: 30px 30px 20px 30px;

        /* margin-right: 20px; */
    }

    .content select {
        /* width: 155px; */
        margin: 0 10px 10px 0;
    }
}