<div class="container">
    <div class="content">

        <select name="selectedRam" class="selectedRam" (change)="SelectChangeRam($event)">
            <option value="select">Filter by RAM</option>
            <option value="{{i}}" *ngFor="let i of ramList ">{{i}}</option>
        </select>

        <select name="selectedRamType" class="selectedRamType" (change)="SelectChangeRamType($event)">
            <option value="select">Filter by Ram Type</option>
            <option value="{{i}}" *ngFor="let i of ramTypeList ">{{i}}</option>
        </select>


        <select name="selectedHdd" class="selectedHdd" (change)="SelectChangeHdd($event)">
            <option value="select">Filter by HDD</option>
            <option value="{{i}}" *ngFor="let i of hddList ">{{i}}</option>
        </select>
        <!-- <p>selected hdd: {{selectedHdd}}</p> -->

        <select name="selectedHdd" class="selectedHdd" (change)="SelectChangeDrive($event)">
            <option value="select">Filter by Drive</option>
            <option value="{{i}}" *ngFor="let i of driveList ">{{i}}</option>
        </select>

        <select name="selectedLocation" class="selectedLocation" (change)="SelectChangeLocation($event)">
            <option value="select">Filter by Location</option>
            <option value="{{i}}" *ngFor="let i of locationList ">{{i}}</option>
        </select>

        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

    </div>
</div>

<!-- <p>selected location: {{selectedLocation}}</p> -->